In [20]:
import pyodbc
import getpass
import numpy as np

pswd = getpass.getpass('Password')

cnxn = pyodbc.connect("DRIVER={MySQL ODBC 8.0 ANSI Driver};SERVER=bcbsnc-de-test.crlleswktbdf.us-east-1.rds.amazonaws.com;DATABASE=detest; UID=guest; PASSWORD=" + pswd + ";") 
crsr = cnxn.cursor()

query = "SHOW CREATE TABLE source_table"

crsr.execute(query)
result = list(crsr.fetchall())
print(result)

text="\n".join(["".join(x) for x in result])
print(text)

Password········
[('source_table', 'CREATE TABLE `source_table` (\n  `id` mediumint(9) DEFAULT NULL,\n  `date` datetime DEFAULT NULL,\n  `name` varchar(50) DEFAULT NULL,\n  `my comments` varchar(50) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=latin1')]
source_tableCREATE TABLE `source_table` (
  `id` mediumint(9) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `my comments` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1

In [29]:
d={}
d["mediumint(%)"]= 'int'
d["datetime"]='timestamp'
d["varchar(%)"]='string'
d["char(%)"]='string'
#text='CREATE TABLE`source_table` (`id` mediumint(9) DEFAULT NULL,`date` datetime DEFAULT NULL,`name` varchar(50) DEFAULT NULL,`my comments` varchar(50) DEFAULT NULL)' 
splitlines = text.split()
for word in splitlines:
    if word in d:
        text = text.replace(word,str(d[word]))
print(text)
cnxn.close

source_tableCREATE TABLE `source_table` (
  `id` int DEFAULT NULL,
  `date` timestamp DEFAULT NULL,
  `name` string DEFAULT NULL,
  `my comments` string DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1